.MMM-RandomKanji {
    width: 50%;
    margin: auto;
  }
  
  .MMM-RandomKanji .kanji {
    font-size: 200%;
    line-height: 1.4;
  }
  
  .MMM-RandomKanji .uncommon.kanji {
    color: orange;
  }
  
  .MMM-RandomKanji ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
  }
  
  .MMM-RandomKanji li {
    margin-top: 5px;
    line-height: normal;
  }
  
  .MMM-RandomKanji .readings {
    font-size: 12pt;
    font-weight: light;
  }
  
  .MMM-RandomKanji .readings .kun {
    color: cyan;
  }
  
  .MMM-RandomKanji .readings .on {
    color: green;
  }
  
  .MMM-RandomKanji .definition {
    font-size: 12pt;
    font-weight: light;
  }
  
  /* JLPT level styles */
  .MMM-RandomKanji .kanji.jlpt-n1 {
    color: red; /* Example color for JLPT N1 */
  }
  
  .MMM-RandomKanji .kanji.jlpt-n2 {
    color: blue; /* Example color for JLPT N2 */
  }
  
  .MMM-RandomKanji .kanji.jlpt-n3 {
    color: green; /* Example color for JLPT N3 */
  }
  
  /* Add styles for other JLPT levels as needed */
    .MMM-RandomKanji.kanji.jlpt-n4 {
        color:purple
    }  